@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  
  .container {
    max-width: 100%;
  }

  
  body, html {
    overflow-x: hidden;
  }
  